APP_ENV=development
APP_PORT=8888

DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASS=password
DB_NAME=ctd_new
DB_SSLMODE=disable

JWT_SECRET=secretmakmak
JWT_EXPIRE_HOUR=24

AI_BASE_URL=https://unprecedented-psychometric-emmanuel.ngrok-free.dev
HMAC_SECRET=imnotsayinweaintgotproblems